body {
  background-color: #ffffff;
}

/* Assure que le body occupe toute la hauteur de la fenêtre */
html, body {
  height: 100%;
  margin: 0;
}
  
  .custom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #006767;
    padding: 0 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px; /* Hauteur du header */
    margin-bottom: 150px; /* Ajoute un espace sous le header */
  }
  
  .search-bar {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 4px 12px;
    width: 200px;
    max-width: 80%;
  }
  
  .header-link {
    color: #fff; /* Texte en blanc pour visibilité */
    margin-left: 15px;
    text-decoration: none;
  }
  
  .header-link svg {
    vertical-align: middle;
  }
  
  .bg-menu {
    background-color: #006767; /* Même fond que le header pour le menu déroulant */
  }
  
  .navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
  }
  
  .logo-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-section {
    background-color: #006767; /* Nouveau fond vert/bleu foncé */
    color: white; /* Texte en blanc pour le contraste */
    margin-top: auto; /* Place le footer en bas si le contenu est insuffisant */
  }
  
  .footer-title {
    font-weight: bold;
    margin-bottom: 1rem;
    color: white;
  }
  
  .footer-link {
    color: #cccccc;
    text-decoration: none;
    display: block;
    margin: 0.3rem 0;
  }
  
  .footer-link:hover {
    color: white;
    text-decoration: underline;
  }
  
  .footer-label {
    font-size: 0.9rem;
    color: white;
  }

  .footer-icon {
    width: 300px; /* Augmente la largeur de l'icône */
    height: 300px; /* Conserve les proportions */
  }

  .promo-banner {
    position: relative;
    z-index: 1029; /* Place la bannière au-dessus de la grande bannière */
    font-size: 1.2rem;
    font-weight: bold;
  }

  .promo-banner marquee {
    font-size: 1rem;
    font-weight: 500;
  }