body {
    background-color: #ffffff;
  }
  
  .custom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #006767;
    padding: 0 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
  
  .search-bar {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 4px 12px;
    width: 200px;
    max-width: 80%;
  }
  
  .header-link {
    color: #fff; /* Texte en blanc pour visibilité */
    margin-left: 15px;
    text-decoration: none;
  }
  
  .header-link svg {
    vertical-align: middle;
  }
  
  .bg-menu {
    background-color: #006767; /* Même fond que le header pour le menu déroulant */
  }
  
  .navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
  }
  
  .logo-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-img {
    width: 500px; /* Augmente la largeur du logo */
    max-width: none; /* Désactive la limite de largeur par défaut */
    height: auto; /* Conserve les proportions */
  }

  nav.custom-header .logo-img {
    width: 500px !important; /* Force l'application de la règle */
    height: auto; /* Conserve les proportions */
  }


